{% extends "base.html" %}

{% block content %}
<div class="container  p-3 my-3">  

<h3>Train thoughts</h3>
<pre>
by Anina

Sitting by the window on train
Watching houses pass by
I can’t help but wonder 
About the million lives going on
In these little houses
Dreams and despair
Heartbreak and hope
But all we see are the houses
Passing by
If only we saw life as that
Something that passes by
The good and bad
So, when storm comes
Remember it will pass by
And when good time comes
Enjoy it as it will also pass by

</pre>
<h3>Self Musings</h3>
<pre>
by Snehal

I ask myself               
Not everyday though         
But once in a blue moon     
Whenever I feel low          
I ask myself                 
Whether I am okay            
Or things are simply         
Not what they convey         
I try to analyse             
The troubles of my mind      
But at the end of the day 
There is no solution to find 
Finally I question myself    
Do I regret?                 
And the simple answer I get is
It was worth every bet...  
     
</pre>
</div>
{% endblock %} 


